h1,
a {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0;
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

body {
  margin: 0;
  margin-bottom: 1000px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
