.contatos {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

#contato {
  background-color: var(--cor-2);
}

.contatos-bg {
  background: linear-gradient(var(--cor-11) 200px, var(--cor-2) 0px);
}

.contato-dados,
.contato-formulario {
  padding: 60px;
}

.contato-formulario {
  background: var(--cor-1) url("../../img/dec/bottom-right.svg") no-repeat
    bottom 20px right 20px;
  border-radius: 0 5px 5px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 20px left 20px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados h2 {
  margin-bottom: 60px;
}

.contato-endereco {
  gap: 8px;
  display: flex;
  flex-direction: column;
  background: url(/img/icones/local.svg) no-repeat 0px 16px;
  padding-left: 32px;
  margin-bottom: 24px;
}

.contato-meios {
  display: flex;
  flex-direction: column;
  background: url(/img/icones/email.svg) no-repeat 0px 16px;
  padding-left: 32px;
  gap: 8px;
}

.contato-meios-tel {
  margin-top: 24px;
  margin-bottom: 60px;
  padding-left: 32px;
  background: url(/img/icones/telefone.svg) no-repeat;
}

.contato-meios a:hover,
.contato-meios-tel:hover {
  color: var(--cor-2);
}

.contato-redes {
  display: flex;
  gap: 16px;
}

@media (max-width: 800px) {
  .contatos {
    grid-template-columns: 1fr;
  }

  .contato-formulario {
    border-radius: 0px 0px 5px 5px;
    padding: 32px;
  }
  .contato-dados {
    border-radius: 5px 5px 0px 0px;
    background: var(--cor-12);
  }
}
